html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.myCanvas {
  position: fixed;
  width: 100%;
}

.container {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 350px;
  margin: 0px auto;
  padding: 60px;
}

.pressed {
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-family: cursive;
  text-align: center;
  font-style: italic;
}

.logo img {
  width: 350px;
}

li {
  width: 190px;
  height: 185px;
  background-color: white;
  float: left;
  margin: 0 40px;
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  transition: transform 0.2s;
}

.scoreBoard {
  position: fixed;
  width: 95%;
  background: black;
  padding: 16px 98px;
  color: white;
}

.rightBorder,
.leftBorder {
  background: black;
  width: 16%;
  height: 100%;
  position: fixed;
}

.rightBorder {
  right: 0;
}

.pokemonTitle {
  width: 30%;
  float: left;
  line-height: 50px;
}
.hpTitle {
  width: 30%;
  float: left;
  line-height: 50px;
}
.noPokemonTitle {
  float: right;
  width: 30%;
  padding-right: 60px;
  line-height: 50px;
}
li:hover {
  transform: scale(1.3);
}
.selectSection {
  margin: 0px auto;
}

.pokemonContainer {
  margin: 40px 0;
}
.ulPokemon img {
  width: 170px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.clearfix {
  content: '';
  clear: both;
  display: table;
}
